In [1]:
import numpy as  np
import pandas as pd

In [2]:
#Map the relationship between ACS sectors and REMI sectors.
#We use ACS sector aggregration because self employment data comes from ACS Table C24070, which uses this aggregration
sectormap = pd.read_csv('C:/Users/blu/Box/Modeling and Surveys/Regional Modeling/REMI/control_totals/deliverables/sectormap.csv')

In [3]:
sectormap.head()

                               ind                      Industries
0  Agriculture & Natural Resources  Forestry, fishing, and hunting
1  Agriculture & Natural Resources                          Mining
2  Agriculture & Natural Resources                            Farm
3                     Construction                    Construction
4        Manufacturing & Wholesale                   Manufacturing

In [4]:
#remi BEA concept employment translates to EDD+ACS concept with a adjustment factor calculated using 2015 data
emp_translate = pd.read_csv('C:/Users/blu/Box/Modeling and Surveys/Regional Modeling/REMI/control_totals/deliverables/emp_translate.csv')

In [5]:
emp_translate.head()

                               ind  adjustment
0  Agriculture & Natural Resources    0.642857
1                     Construction    0.850598
2        Manufacturing & Wholesale    0.905314
3                           Retail    0.854841
4       Transportation & Utilities    0.594682

In [19]:
#read employment data
emp = pd.read_csv('C:/Users/blu/Box/Modeling and Surveys/Regional Modeling/REMI/REMI files/PBA50 Blueprint/REMI output/Forecast 03122020/Blueprint Plus Fix it First/employment_projections.csv')

In [20]:
emp_merge = pd.merge(sectormap,emp, how='inner', on=['Industries'])

In [21]:
emp_merge

,ind,Industries,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,"Forestry, fishing, and hunting",10.840,11.392,11.833,12.542,13.150,13.770,14.399,14.997
1,Agriculture & Natural Resources,Mining,8.739,9.046,9.068,9.501,10.154,10.961,11.829,12.756
2,Agriculture & Natural Resources,Farm,17.853,18.309,18.327,18.739,18.934,19.046,19.108,19.090
3,Construction,Construction,263.329,281.039,326.105,306.906,317.805,335.742,343.105,352.193
4,Manufacturing & Wholesale,Manufacturing,378.070,378.067,346.156,324.524,314.583,312.190,310.425,309.118
5,Manufacturing & Wholesale,Wholesale trade,155.785,162.593,160.301,160.668,163.019,166.651,170.196,173.445
6,Retail,Retail trade,418.616,444.216,444.174,445.166,460.678,486.623,501.649,516.334
7,Transportation & Utilities,Transportation and warehousing,204.922,213.942,225.215,231.575,239.915,251.174,261.801,273.123
8,Transportation & Utilities,Utilities,17.706,18.626,18.636,18.818,19.052,19.390,19.824,20.370
9,Information,Information,218.673,237.045,247.741,266.835,290.566,320.135,353.804,391.908
10,Financial & Leasing,Finance and insurance,275.273,280.327,275.148,280.812,289.285,299.183,304.880,310.083
11,Financial & Leasing,Real estate and rental and leasing,248.073,259.631,263.718,270.851,282.200,297.008,305.366,313.815
12,Professional & Managerial Services,"Professional, scientific, and technical services",691.409,753.877,783.017,831.894,885.920,942.617,1001.013,1060.062
13,Professional & Managerial Services,Management of companies and enterprises,80.912,85.113,85.720,88.201,90.862,93.920,96.926,99.692
14,Professional & Managerial Services,"Administrative, support, waste management, and...",324.167,348.324,362.582,379.164,396.401,415.112,434.549,454.160
15,Health & Educational Services,Educational services; private,165.441,178.839,188.357,193.884,199.079,202.732,205.947,211.606
16,Health & Educational Services,Health care and social assistance,564.676,612.953,648.248,682.422,721.890,764.676,797.887,830.613
17,"Arts, Recreation & Other Services","Arts, entertainment, and recreation",135.466,142.644,143.506,147.334,152.331,158.534,165.533,173.444
18,"Arts, Recreation & Other Services",Accommodation and food services,398.320,428.561,447.058,464.280,483.750,506.260,520.456,534.701
19,"Arts, Recreation & Other Services",Other services (except public administration),277.125,294.583,298.743,304.763,315.784,328.891,337.544,346.213
20,Government,State and Local Government,431.916,447.826,459.830,457.593,458.013,460.706,453.785,446.164
21,Government,Federal Civilian,48.098,49.127,46.528,46.643,47.403,48.313,49.355,50.494
22,Government,Federal Military,20.986,22.595,21.050,20.816,20.755,20.508,20.251,19.967

In [22]:
emp_sum = emp_merge.groupby(['ind']).sum().reset_index()

In [23]:
emp_sum

,ind,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,37.432,38.747,39.228,40.782,42.238,43.777,45.336,46.843
1,"Arts, Recreation & Other Services",810.911,865.788,889.307,916.377,951.865,993.685,1023.533,1054.358
2,Construction,263.329,281.039,326.105,306.906,317.805,335.742,343.105,352.193
3,Financial & Leasing,523.346,539.958,538.866,551.663,571.485,596.191,610.246,623.898
4,Government,501.000,519.548,527.408,525.052,526.171,529.527,523.391,516.625
5,Health & Educational Services,730.117,791.792,836.605,876.306,920.969,967.408,1003.834,1042.219
6,Information,218.673,237.045,247.741,266.835,290.566,320.135,353.804,391.908
7,Manufacturing & Wholesale,533.855,540.660,506.457,485.192,477.602,478.841,480.621,482.563
8,Professional & Managerial Services,1096.488,1187.314,1231.319,1299.259,1373.183,1451.649,1532.488,1613.914
9,Retail,418.616,444.216,444.174,445.166,460.678,486.623,501.649,516.334
10,Transportation & Utilities,222.628,232.568,243.851,250.393,258.967,270.564,281.625,293.493

In [24]:
emp_merge2 = pd.merge(emp_sum,emp_translate, how='inner', on=['ind'])

In [25]:
emp_merge2.set_index('ind')

,2017,2020,2025,2030,2035,2040,2045,2050,adjustment
ind,,,,,,,,,
Agriculture & Natural Resources,37.432,38.747,39.228,40.782,42.238,43.777,45.336,46.843,0.642857
"Arts, Recreation & Other Services",810.911,865.788,889.307,916.377,951.865,993.685,1023.533,1054.358,0.762703
Construction,263.329,281.039,326.105,306.906,317.805,335.742,343.105,352.193,0.850598
Financial & Leasing,523.346,539.958,538.866,551.663,571.485,596.191,610.246,623.898,0.428895
Government,501.000,519.548,527.408,525.052,526.171,529.527,523.391,516.625,0.958208
Health & Educational Services,730.117,791.792,836.605,876.306,920.969,967.408,1003.834,1042.219,0.847728
Information,218.673,237.045,247.741,266.835,290.566,320.135,353.804,391.908,0.916083
Manufacturing & Wholesale,533.855,540.660,506.457,485.192,477.602,478.841,480.621,482.563,0.905314
Professional & Managerial Services,1096.488,1187.314,1231.319,1299.259,1373.183,1451.649,1532.488,1613.914,0.754617
Retail,418.616,444.216,444.174,445.166,460.678,486.623,501.649,516.334,0.854841
Transportation & Utilities,222.628,232.568,243.851,250.393,258.967,270.564,281.625,293.493,0.594682

In [26]:
emp_merge2 [['2017','2020','2025','2030','2035','2040','2045','2050']] = emp_merge2[['2017','2020','2025','2030','2035','2040','2045','2050']].mul(emp_merge2.adjustment, axis = 0)

In [27]:
emp_merge2 = emp_merge2.iloc[:, :-1]

In [28]:
emp_merge2

,ind,2017,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,24.063429,24.908786,25.218000,26.217000,27.153000,28.142357,29.144571,30.113357
1,"Arts, Recreation & Other Services",618.484523,660.339394,678.277414,698.923793,725.990609,757.886862,780.652032,804.162362
2,Construction,223.987235,239.051333,277.384402,261.053762,270.324435,285.581619,291.844575,299.574814
3,Financial & Leasing,224.460540,231.585345,231.116992,236.605563,245.107121,255.703404,261.731525,267.586801
4,Government,480.062401,497.835250,505.366768,503.109229,504.181464,507.397211,501.517645,495.034407
5,Health & Educational Services,618.940806,671.224446,709.213692,742.869351,780.731438,820.099090,850.978439,883.518488
6,Information,200.322533,217.152803,226.951222,244.442904,266.182460,293.270107,324.113692,359.020104
7,Manufacturing & Wholesale,483.306369,489.467030,458.502578,439.251077,432.379745,433.501429,435.112887,436.871007
8,Professional & Managerial Services,827.428089,895.966900,929.173805,980.442460,1036.226740,1095.438489,1156.440944,1217.886358
9,Retail,357.850031,379.733955,379.698052,380.546054,393.806344,415.985188,428.830026,441.383363
10,Transportation & Utilities,132.392782,138.303918,145.013710,148.904118,154.002918,160.899441,167.477214,174.534896

In [29]:
emp_merge2.to_csv('C:/Users/blu/Box/Modeling and Surveys/Regional Modeling/REMI/REMI files/PBA50 Blueprint/REMI output/Forecast 03122020/Blueprint Plus Fix it First/emp by ind.csv')

In [ ]:
#remember to delete the index columns in the results!