In [1]:
import numpy as  np
import pandas as pd
import os

In [2]:
# This should point to base dir of regional_forecast git repo
# https://github.com/BayAreaMetro/regional_forecast
REGIONAL_FORECAST_GIT_DIR = r"\\mainmodel\MainModelShare\regional_forecast"

# The location of REMI outputs
REMI_OUTPUT_BOX_DIR       = os.path.join(os.environ["USERPROFILE"],
                            "Box\Modeling and Surveys\Regional Modeling\REMI\REMI files\PBA50 Blueprint\REMI output")

# e.g. Draft Forecast Base Case, Draft Forecast Upper Case, Forecast 03122020
FORECAST_DIR              = "Forecast 04132020"

# e.g. Blueprint Baseline, Blueprint Basic, Blueprint Crossing, Blueprint Plus Fix it First
FORECAST_VARIANT          = "Blueprint Plus Fix it First"

# Figure out corresponding UrbanSim Scenario number
# see https://github.com/BayAreaMetro/bayarea_urbansim/blob/zoning_mods_update/configs/scenarios.md
URBANSIM_VARIANT_MAPPING  = {"Blueprint Baseline"         :20,
                             "Blueprint Basic"            :21,
                             "Blueprint Plus Fix it First":22,
                             "Blueprint Crossing"         :23}
URBANSIM_VARIANT          = URBANSIM_VARIANT_MAPPING[FORECAST_VARIANT]

# read employment data
employment_input_file     = os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT,
                                         "employment_projections_s{}.csv".format(URBANSIM_VARIANT))
employment_output_file    = os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT, 
                                         "emp by ind11_s{}.csv".format(URBANSIM_VARIANT))

In [3]:
#Map the relationship between ACS sectors and REMI sectors.
#We use ACS sector aggregration because self employment data comes from ACS Table C24070, which uses this aggregration
sectormap = pd.read_csv(os.path.join(REGIONAL_FORECAST_GIT_DIR, "regionals post process", "sectormap.csv"))

#remi BEA concept employment translates to EDD+ACS concept with a adjustment factor calculated using 2015 data
emp_translate = pd.read_csv(os.path.join(REGIONAL_FORECAST_GIT_DIR, "regionals post process", "emp_translate.csv"))

In [4]:
sectormap.head()

                               ind                      Industries
0  Agriculture & Natural Resources  Forestry, fishing, and hunting
1  Agriculture & Natural Resources                          Mining
2  Agriculture & Natural Resources                            Farm
3                     Construction                    Construction
4        Manufacturing & Wholesale                   Manufacturing

In [5]:
emp_translate.head()

                               ind  adjustment
0  Agriculture & Natural Resources    0.642857
1                     Construction    0.850598
2        Manufacturing & Wholesale    0.905314
3                           Retail    0.854841
4       Transportation & Utilities    0.594682

In [6]:
emp = pd.read_csv(employment_input_file)

# merge with sectormap
emp_merge = pd.merge(sectormap,emp, how='inner', on=['Industries'])

In [7]:
emp_merge

,ind,Industries,Units,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Agriculture & Natural Resources,"Forestry, fishing, and hunting",Thousands (Jobs),10205,10954,10840,11178,11410,10627,10649,...,13890,14017,14145,14270,14397,14519,14641,14765,14889,14997
1,Agriculture & Natural Resources,Mining,Thousands (Jobs),10199,9945,8739,8927,8998,8062,8070,...,10951,11118,11291,11467,11638,11819,12000,12182,12370,12554
2,Agriculture & Natural Resources,Farm,Thousands (Jobs),18321,18108,17853,18265,18503,17252,17111,...,19066,19080,19090,19102,19109,19114,19115,19114,19113,19096
3,Construction,Construction,Thousands (Jobs),244277,255041,263329,269013,270213,249803,260240,...,342775,344186,345731,347380,349088,350856,352672,354568,356530,358350
4,Manufacturing & Wholesale,Manufacturing,Thousands (Jobs),356984,364871,378070,382830,386756,361849,349789,...,311242,311095,310962,310858,310790,310737,310690,310631,310578,310329
5,Manufacturing & Wholesale,Wholesale trade,Thousands (Jobs),165195,157972,155785,160451,163576,152644,150448,...,165828,166527,167219,167914,168607,169282,169949,170608,171259,171800
6,Retail,Retail trade,Thousands (Jobs),418874,417551,418616,432873,444082,421677,414488,...,493176,496161,499164,502190,505221,508220,511220,514211,517198,519890
7,Transportation & Utilities,Transportation and warehousing,Thousands (Jobs),171172,196279,204922,211449,215097,178869,191728,...,255708,258047,260415,262836,265315,267833,270409,273012,275648,278167
8,Transportation & Utilities,Utilities,Thousands (Jobs),15237,16344,17706,18363,18591,17356,17365,...,19586,19699,19812,19936,20064,20200,20341,20489,20639,20784
9,Information,Information,Thousands (Jobs),187626,200837,218673,225915,233552,224481,223367,...,327642,334254,341037,348001,355138,362465,369975,377671,385561,393586
10,Financial & Leasing,Finance and insurance,Thousands (Jobs),252242,268437,275273,275003,277859,258294,257540,...,301389,302529,303668,304801,305925,307026,308111,309186,310246,311109
11,Financial & Leasing,Real estate and rental and leasing,Thousands (Jobs),237135,240987,248073,252022,255012,237243,236700,...,300687,302334,304003,305691,307403,309107,310825,312544,314280,315838
12,Professional & Managerial Services,"Professional, scientific, and technical services",Thousands (Jobs),668179,681536,691409,714846,739881,709570,709002,...,954056,965646,977306,989048,1000854,1012671,1024536,1036451,1048423,1059792
13,Professional & Managerial Services,Management of companies and enterprises,Thousands (Jobs),76077,79066,80912,83392,85008,77766,77637,...,94782,95388,95986,96584,97174,97755,98328,98896,99455,99946
14,Professional & Managerial Services,"Administrative, support, waste management, and...",Thousands (Jobs),307572,319899,324167,334196,342620,322796,323944,...,414964,418792,422661,426553,430461,434377,438300,442240,446195,449896
15,Health & Educational Services,Educational services; private,Thousands (Jobs),160838,163015,165441,170309,172490,158733,160147,...,204367,205129,205906,206849,207941,209158,210514,211988,213564,215146
16,Health & Educational Services,Health care and social assistance,Thousands (Jobs),536664,551969,564676,575128,587934,570466,571963,...,774516,781179,787854,794555,801264,807917,814577,821230,827880,834023
17,"Arts, Recreation & Other Services","Arts, entertainment, and recreation",Thousands (Jobs),128859,132801,135466,139303,142080,103374,108019,...,161324,162977,164644,166366,168146,169988,171885,173821,175812,177755
18,"Arts, Recreation & Other Services",Accommodation and food services,Thousands (Jobs),379679,390845,398320,419352,427829,291938,310919,...,512499,515430,518364,521360,524403,527442,530503,533562,536630,539389
19,"Arts, Recreation & Other Services",Other services (except public administration),Thousands (Jobs),275703,274253,277125,286623,287282,269552,268217,...,333202,334915,336640,338392,340159,341917,343683,345461,347241,348829
20,Government,State and Local Government,Thousands (Jobs),417646,426333,431916,436809,442051,456813,454938,...,461271,459866,458459,457061,455660,454222,452772,451311,449829,447938
21,Government,Federal Civilian,Thousands (Jobs),47868,48103,48098,49162,50700,62923,61247,...,48504,48707,48913,49128,49351,49574,49805,50042,50283,50489
22,Government,Federal Military,Thousands (Jobs),20865,20846,20986,21459,22496,22665,22242,...,20457,20405,20354,20303,20251,20197,20146,20093,20040,19967

In [8]:
emp_sum = emp_merge.groupby(['ind']).sum().reset_index()

In [9]:
emp_sum

,ind,2015,2016,2017,2018,2019,2020,2021,2022,2023,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Agriculture & Natural Resources,38725,39007,37432,38370,38911,35941,35830,35866,35865,...,43907,44215,44526,44839,45144,45452,45756,46061,46372,46647
1,"Arts, Recreation & Other Services",784241,797899,810911,845278,857191,664864,687155,716419,741773,...,1007025,1013322,1019648,1026118,1032708,1039347,1046071,1052844,1059683,1065973
2,Construction,244277,255041,263329,269013,270213,249803,260240,303662,299549,...,342775,344186,345731,347380,349088,350856,352672,354568,356530,358350
3,Financial & Leasing,489377,509424,523346,527025,532871,495537,494240,496543,494739,...,602076,604863,607671,610492,613328,616133,618936,621730,624526,626947
4,Government,486379,495282,501000,507430,515247,542401,538427,531335,523044,...,530232,528978,527726,526492,525262,523993,522723,521446,520152,518394
5,Health & Educational Services,697502,714984,730117,745437,760424,729199,732110,738974,740292,...,978883,986308,993760,1001404,1009205,1017075,1025091,1033218,1041444,1049169
6,Information,187626,200837,218673,225915,233552,224481,223367,222504,221515,...,327642,334254,341037,348001,355138,362465,369975,377671,385561,393586
7,Manufacturing & Wholesale,522179,522843,533855,543281,550332,514493,500237,489913,476778,...,477070,477622,478181,478772,479397,480019,480639,481239,481837,482129
8,Professional & Managerial Services,1051828,1080501,1096488,1132434,1167509,1110132,1110583,1117713,1117415,...,1463802,1479826,1495953,1512185,1528489,1544803,1561164,1577587,1594073,1609634
9,Retail,418874,417551,418616,432873,444082,421677,414488,411386,402588,...,493176,496161,499164,502190,505221,508220,511220,514211,517198,519890
10,Transportation & Utilities,186409,212623,222628,229812,233688,196225,209093,213259,216376,...,275294,277746,280227,282772,285379,288033,290750,293501,296287,298951

In [10]:
emp_merge2 = pd.merge(emp_sum,emp_translate, how='inner', on=['ind']).set_index('ind')

In [11]:
emp_merge2

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,adjustment
ind,,,,,,,,,,,,,,,,,,,,,
Agriculture & Natural Resources,38725,39007,37432,38370,38911,35941,35830,35866,35865,35985,...,44215,44526,44839,45144,45452,45756,46061,46372,46647,0.642857
"Arts, Recreation & Other Services",784241,797899,810911,845278,857191,664864,687155,716419,741773,771905,...,1013322,1019648,1026118,1032708,1039347,1046071,1052844,1059683,1065973,0.762703
Construction,244277,255041,263329,269013,270213,249803,260240,303662,299549,295340,...,344186,345731,347380,349088,350856,352672,354568,356530,358350,0.850598
Financial & Leasing,489377,509424,523346,527025,532871,495537,494240,496543,494739,494580,...,604863,607671,610492,613328,616133,618936,621730,624526,626947,0.428895
Government,486379,495282,501000,507430,515247,542401,538427,531335,523044,512965,...,528978,527726,526492,525262,523993,522723,521446,520152,518394,0.958208
Health & Educational Services,697502,714984,730117,745437,760424,729199,732110,738974,740292,742893,...,986308,993760,1001404,1009205,1017075,1025091,1033218,1041444,1049169,0.847728
Information,187626,200837,218673,225915,233552,224481,223367,222504,221515,220569,...,334254,341037,348001,355138,362465,369975,377671,385561,393586,0.916083
Manufacturing & Wholesale,522179,522843,533855,543281,550332,514493,500237,489913,476778,465912,...,477622,478181,478772,479397,480019,480639,481239,481837,482129,0.905314
Professional & Managerial Services,1051828,1080501,1096488,1132434,1167509,1110132,1110583,1117713,1117415,1119176,...,1479826,1495953,1512185,1528489,1544803,1561164,1577587,1594073,1609634,0.754617
Retail,418874,417551,418616,432873,444082,421677,414488,411386,402588,395043,...,496161,499164,502190,505221,508220,511220,514211,517198,519890,0.854841
Transportation & Utilities,186409,212623,222628,229812,233688,196225,209093,213259,216376,220514,...,277746,280227,282772,285379,288033,290750,293501,296287,298951,0.594682

In [12]:
#choose only column needed and multiply by adjustment
emp_merge2 = emp_merge2[['2015','2020','2025','2030','2035','2040','2045','2050']].mul(emp_merge2.adjustment, axis = 0)
#round to int and bring industry back to it's own column
emp_merge3 = emp_merge2.astype(int).reset_index()

In [13]:
emp_merge3

,ind,2015,2020,2025,2030,2035,2040,2045,2050
0,Agriculture & Natural Resources,24894,23104,23321,26106,27039,28027,29021,29987
1,"Arts, Recreation & Other Services",598143,507093,615796,696554,725950,763296,787649,813021
2,Construction,207781,212482,249657,261216,273236,290458,296933,304811
3,Financial & Leasing,209891,212533,212738,235757,244942,257022,263053,268894
4,Government,466052,519733,480841,498460,502939,509267,503310,496729
5,Health & Educational Services,591292,618162,633314,740983,780092,823641,855531,889410
6,Information,171880,205643,201243,245178,266979,294253,325335,360557
7,Manufacturing & Wholesale,472735,465777,414945,434519,428737,431378,434004,436478
8,Professional & Managerial Services,793726,837724,848437,977492,1033410,1092555,1153423,1214656
9,Retail,358070,360466,332291,379739,393971,419014,431883,444423
10,Transportation & Utilities,110854,116691,134565,148701,154225,162273,169709,177780

In [14]:
emp_merge3.to_csv(employment_output_file, header=True, index=False)