In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# This should point to base dir of regional_forecast git repo
# https://github.com/BayAreaMetro/regional_forecast
REGIONAL_FORECAST_GIT_DIR = r"\\mainmodel\MainModelShare\regional_forecast"

# The location of REMI outputs
REMI_OUTPUT_BOX_DIR       = os.path.join(os.environ["USERPROFILE"],
                            "Box\Modeling and Surveys\Regional Modeling\REMI\REMI files\PBA50 Blueprint\REMI output")

# e.g. Draft Forecast Base Case, Draft Forecast Upper Case, Forecast 03122020
FORECAST_DIR              = "Forecast 03122020"

# e.g. Blueprint Baseline, Blueprint Basic, Blueprint Crossing, Blueprint Plus Fix it First
FORECAST_VARIANT          = "Blueprint Crossing"

# Figure out corresponding UrbanSim Scenario number
# see https://github.com/BayAreaMetro/bayarea_urbansim/blob/zoning_mods_update/configs/scenarios.md
URBANSIM_VARIANT_MAPPING  = {"Blueprint Baseline"         :20,
                             "Blueprint Basic"            :21,
                             "Blueprint Plus Fix it First":22,
                             "Blueprint Crossing"         :23}
URBANSIM_VARIANT          = URBANSIM_VARIANT_MAPPING[FORECAST_VARIANT]

#step 1: output will into this workbook
OUTPUT_XLSX               = os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT, "control totals.xlsx")
                                
writer = pd.ExcelWriter(OUTPUT_XLSX, engine = 'xlsxwriter')
print("Output file is {}".format(OUTPUT_XLSX))

# create readme
readme = pd.DataFrame(data=[{"label":"Created by",
                             "value":os.path.join(REGIONAL_FORECAST_GIT_DIR, "regionals post process",
                                                  "Control Totals File for UrbanSim PBA50.ipynb")}])
readme.to_excel(writer, sheet_name='readme')

Output file is C:\Users\lzorn\Box\Modeling and Surveys\Regional Modeling\REMI\REMI files\PBA50 Blueprint\REMI output\Forecast 03122020\Blueprint Crossing\control totals.xlsx

# Convert Employment into 6 Categories for Travel Model

Where categories are: *RETEMPN*, *FPSEMPN*, *HEREMPN*, *AGREMPN*, *MWTEMPN*, *OTHEMPN*

See https://github.com/BayAreaMetro/modeling-website/wiki/TazData

In [3]:
# start by aggregating detailed industries into 6 industry categories
ind_6cat = pd.read_csv(os.path.join(REGIONAL_FORECAST_GIT_DIR, "regionals post process", "ind 6 cat.csv"))

#then read through all employment results--currently, I am separating the two scripts, ideally
#they could be combined
#we have different treatment for e-commerce employment, part of retail sector-see "MEMO E-Commerce in UrbanSim.docx" in the documentation folder
#we may need to decide what to do for the forecast
emp = pd.read_csv(os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT, "emp by ind.csv"))

#merge with industry mapping
emp2 = pd.merge(emp, ind_6cat, on = 'ind', how = 'left' )

In [4]:
emp2

,ind,2015,2020,2025,2030,2035,2040,2045,2050,ind_6cat
0,Agriculture & Natural Resources,24678,24909,25230,26225,27160,28150,29152,30120,AGREMPN
1,"Arts, Recreation & Other Services",598565,660339,678852,699410,726437,758295,781019,804495,HEREMPN
2,Construction,208161,239051,279676,262677,271765,286930,293103,300739,OTHEMPN
3,Financial & Leasing,209927,231585,231259,236698,245184,255769,261785,267630,FPSEMPN
4,Government,466200,497835,506169,503837,504871,508068,502164,495660,OTHEMPN
5,Health & Educational Services,591833,671224,709677,743247,781076,820416,851265,883780,HEREMPN
6,Information,171880,217153,227001,244491,266229,293316,324157,359059,OTHEMPN
7,Manufacturing & Wholesale,472783,489467,458893,439614,432735,433838,435424,437157,MWTEMPN
8,Professional & Managerial Services,793905,895967,929473,980679,1036456,1095657,1156644,1218073,FPSEMPN
9,Retail,358339,379734,380178,380943,394182,416354,429179,441712,RETEMPN
10,Transportation & Utilities,111168,138304,139938,144038,149348,156477,163299,170590,MWTEMPN

In [5]:
emp_6cat           = emp2.groupby(['ind_6cat']).sum()
emp_6cat_transpose = emp_6cat.T.reset_index()
emp_controls       = emp_6cat_transpose.rename(columns={'index': 'year'})
emp_controls.year  = emp_controls.year.astype(int)
emp_controls       = emp_controls.reset_index(drop = True)

In [6]:
emp_controls

ind_6cat  year  AGREMPN  FPSEMPN  HEREMPN  MWTEMPN  OTHEMPN  RETEMPN
0         2015    24678  1003832  1190398   583951   846241   358339
1         2020    24909  1127552  1331563   627771   954039   379734
2         2025    25230  1160732  1388529   598831  1012846   380178
3         2030    26225  1217377  1442657   583652  1011005   380943
4         2035    27160  1281640  1507513   582083  1042865   394182
5         2040    28150  1351426  1578711   590315  1088314   416354
6         2045    29152  1418429  1632284   598723  1119424   429179
7         2050    30120  1485703  1688275   607747  1155458   441712

In [7]:
#write to the master excel file
emp_controls.to_excel(writer, sheet_name='emp_controls')

# Summarize Population by Age Group

Where age groups are *AGE0004*, *AGE0519*, *AGE2044*, *AGE4564*, *AGE65p*

See https://github.com/BayAreaMetro/modeling-website/wiki/TazData

In [8]:
#starts with aggregating pop by single age into 5 age groups
#I have created a relationship file, now read it
agegrp = pd.read_csv(os.path.join(REGIONAL_FORECAST_GIT_DIR, "regionals post process", "age group.csv"))

#then read through all population results
pop = pd.read_csv(os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT,"population_age.csv"))

In [9]:
#summarize into age groups, needed two transposes
pop_indexed    = pop.set_index('year')
pop2           = pop_indexed.T.reset_index()
pop2_merge     = pd.merge(pop2, agegrp, left_on = 'index', right_on = 'age', how = 'inner' )
pop2_sum       = pop2_merge.groupby(['age_group']).sum()
pop2_transpose = pop2_sum.T.reset_index()
pop_controls   = pop2_transpose.rename(columns={'index': 'year'}).reset_index(drop = True)

In [10]:
pop_controls

age_group  year  age0004  age0519  age2044  age4564   age65p
0          2015   443193  1336227  2750266  2039829  1086042
1          2020   425849  1368937  2803151  2084786  1272433
2          2025   423718  1403851  2921403  2156559  1491971
3          2030   412161  1392487  2929711  2265815  1712424
4          2035   418402  1382938  2931075  2436586  1891734
5          2040   442633  1401386  3045060  2573108  2038476
6          2045   458399  1442621  3208763  2625366  2182081
7          2050   467309  1497518  3293142  2677883  2372243

In [11]:
pop_controls.to_excel(writer, sheet_name='pop_controls')

# additional step for calculating share of 4 age groups using the transposed pop2
agegrp_v2 = pd.read_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/4 age groups.csv')
pop2_4ag = pd.merge(pop2, agegrp_v2, left_on = 'index', right_on = 'age', how = 'inner' )
pop2_4agsum = pop2_4ag.groupby(['age_group']).sum()
pop2_4agtranspose = pop2_4agsum.T.reset_index()
pop_4ag = pop2_4agtranspose.rename(columns={'index': 'year'}).reset_index(drop = True)

pop_4ag.head()

pop_4ag['total'] = pop_4ag['age0019'] + pop_4ag['age2034'] + pop_4ag['age3564'] + pop_4ag['age65p']  
pop_4ag['shra1'] = pop_4ag['age0019']/pop_4ag['total']
pop_4ag['shra2'] = pop_4ag['age2034']/pop_4ag['total']
pop_4ag['shra3'] = pop_4ag['age3564']/pop_4ag['total']
pop_4ag['shra4'] = pop_4ag['age65p']/pop_4ag['total']
pop_4ag.head()

#this is the tricky part to add share of children
#first add column, then calculate value
pop_4ag['shry'] = ''
#2010 children share is given
pop_4ag.shry.iloc[0]= 0.33350388
rownum = len(pop_4ag.index)
for i in range(1, rownum):
    pop_4ag.shry.iloc[i] = pop_4ag.shry.iloc[i-1] * ( pop_4ag.shra1.iloc[i]/pop_4ag.shra1.iloc[i-1])
#then add no children share
pop_4ag['shrn'] = 1 - pop_4ag['shry']

pop_4ag.head()

# Transfer Household Results Directly into Output Workbook

In [12]:
#read through household results
hh_file = os.path.join(REMI_OUTPUT_BOX_DIR, FORECAST_DIR, FORECAST_VARIANT,
                       "household_controls_s{}.csv".format(URBANSIM_VARIANT))
hh = pd.read_csv(hh_file)

In [13]:
hh

   year  q1_households  q2_households  q3_households  q4_households
0  2015         688276         657079         584177         753096
1  2020         686227         627931         612707         867514
2  2025         782659         670828         646543         967700
3  2030         887095         719522         675853        1076883
4  2035         954607         744042         694685        1148066
5  2040        1012602         768913         723641        1217992
6  2045        1063297         789688         756240        1282931
7  2050        1110271         803318         786704        1347164

In [14]:
hh.to_excel(writer, sheet_name='hh_controls')

In [15]:
pop_controls['totpop'] = pop_controls['age0004'] + \
                         pop_controls['age0519'] + \
                         pop_controls['age2044'] + \
                         pop_controls['age4564'] + \
                         pop_controls['age65p']
hh['tothh']            = hh['q1_households'] + \
                         hh['q2_households'] + \
                         hh['q3_households'] + \
                         hh['q4_households']
emp_controls['totemp'] = emp_controls['AGREMPN'] + \
                         emp_controls['MWTEMPN'] + \
                         emp_controls['RETEMPN'] + \
                         emp_controls['FPSEMPN'] + \
                         emp_controls['HEREMPN'] + \
                         emp_controls['OTHEMPN']

In [16]:
regional_controls = pd.merge(pop_controls, emp_controls)
regional_controls = pd.merge(regional_controls, hh)
regional_controls = regional_controls[["year","totpop","tothh","totemp"]]

In [17]:
regional_controls

   year    totpop    tothh   totemp
0  2015   7655557  2682628  4007439
1  2020   7955156  2794379  4445568
2  2025   8397502  3067730  4566346
3  2030   8712598  3359353  4661859
4  2035   9060735  3541400  4835443
5  2040   9500663  3723148  5053270
6  2045   9917230  3892156  5227191
7  2050  10308095  4047457  5409015

In [18]:
regional_controls.to_excel(writer, sheet_name='regional_controls')

In [19]:
writer.save()

## sum and write to master excel file
hh_sum = hh.groupby(['year','inc_cat_mtc_int']).sum().reset_index()
hh_controls = hh_sum.pivot(index='year', columns='inc_cat_mtc_int', values='total').reset_index()
hh_controls.to_excel(writer, sheet_name='hh_controls')

hh_q = hh_controls
hh_q.head()

#calculate share by inc quarter
hh_q['total'] = hh_q['q1'] + hh_q['q2'] + hh_q['q3'] + hh_q['q4']  
hh_q['shrq1'] = hh_q['q1']/hh_q['total']
hh_q['shrq2'] = hh_q['q2']/hh_q['total']
hh_q['shrq3'] = hh_q['q3']/hh_q['total']
hh_q['shrq4'] = hh_q['q4']/hh_q['total']

hh_q.head()

#calculate share by number of workers
hh_sumbyworker = hh.groupby(['year','hhworkers']).sum().reset_index()
hh_w = hh_sumbyworker.pivot(index='year', columns='hhworkers', values='total').reset_index()
hh_w['total'] = hh_w['w0'] + hh_w['w1'] + hh_w['w2'] + hh_w['w3'] 
hh_w['shrw0'] = hh_w['w0']/hh_w['total']
hh_w['shrw1'] = hh_w['w1']/hh_w['total']
hh_w['shrw2'] = hh_w['w2']/hh_w['total']
hh_w['shrw3'] = hh_w['w3']/hh_w['total']
hh_w.head()

#calculate share by hh size
hh_sumbysize = hh.groupby(['year','hhsize']).sum().reset_index()
hh_s = hh_sumbysize.pivot(index='year', columns='hhsize', values='total').reset_index()
hh_s['total'] = hh_s['s1'] + hh_s['s2'] + hh_s['s3'] + hh_s['s4']  
hh_s['shrs1'] = hh_s['s1']/hh_s['total']
hh_s['shrs2'] = hh_s['s2']/hh_s['total']
hh_s['shrs3'] = hh_s['s3']/hh_s['total']
hh_s['shrs4'] = hh_s['s4']/hh_s['total']
hh_s.head()

#Step 5 add all hh and pop share into a dataframe
reg_dem_fcast = pd.DataFrame()
b_slice1 = hh_s[['year','shrs1','shrs2','shrs3','shrs4']].copy()
b_slice2 = hh_q[['year','shrq1','shrq2','shrq3','shrq4']].copy()
b_slice3 = hh_w[['year','shrw0','shrw1','shrw2','shrw3']].copy()
b_slice4 = 4ag[['year','shra1','shra2','shra3','shra4','shrn','shry']].copy()
reg_dem_fcast = reg_dem_fcast.append(b_slice1)
reg_dem_fcast1 = pd.merge(reg_dem_fcast,b_slice2, on = 'year', how = 'left')
reg_dem_fcast2 = pd.merge(reg_dem_fcast1,b_slice3, on = 'year', how = 'left')
reg_dem_fcast3 = pd.merge(reg_dem_fcast2,b_slice4, on = 'year', how = 'left')

reg_dem_fcast3.head()

reg_dem_fcast3.to_excel(writer, sheet_name='reg_dem_fcast')

# last step, putting together regional control master file
#vacany rate
vr= pd.read_csv('C:/Users/blu/Box/RTP SCS 2021 Modeling/control_totals/deliverables/vacancy rate.csv')

#pop
pop_controls['totpop'] = pop_controls['age0004'] + pop_controls['age0519']+ pop_controls['age2044']+pop_controls['age4564'] + pop_controls['age65p']

#employed residents
#first set up a constant for rate of employed residents -- update if needed.
empres_r = 0.98
#then put everything together
emp_controls.year = emp_controls.year.astype(int)
emp_controls['empres'] = empres_r * (emp_controls['AGREMPN'] +emp_controls['MWTEMPN'] + emp_controls['RETEMPN'] + emp_controls['FPSEMPN'] + emp_controls['HEREMPN'] + emp_controls['OTHEMPN'])
empres = emp_controls[['year','empres']]

#five age groups
pop_5ag = pop_controls[['year','age0004','age0519','age2044','age4564','age65p']]

regional_controls = pop_controls[['year','totpop']] 
regional_controls1 = pd.merge(regional_controls, empres, on = 'year', how = 'left')
regional_controls2 = pd.merge(regional_controls1, pop_5ag, on = 'year', how = 'left')
regional_controls3 = pd.merge(regional_controls2, vr, on = 'year', how = 'left')

#add static median age -- update if needed
medianAge = [37.7,38.5,38.9,39.6,40.2,40.9,42.7,42.2,42.9]
regional_controls3.insert(loc=3, column='medianage', value=medianAge)

regional_controls3.head()

regional_controls3.to_excel(writer, sheet_name='regional_controls')

writer.save()